# Part 2: Linear Regression


In this part, we will be working with a dataset scraped by [Shubham Maurya](https://www.kaggle.com/mauryashubham/linear-regression-to-predict-market-value/data), which collects facts about players in the English Premier League as of 2017. His original goal was to establish if there was a relationship between a player's popularity and his market value, as estimated by transfermrkt.com.

**Your goal is to fit a model able to predict a player's market value.**

## The dataset

The dataset contains the following information:

<table >
<tr>
<th><b>Field</b></th>
<th><b>Description</b></th>
</tr>
<tr><td> name </td><td> Name of the player </td></tr>
<tr><td> club </td><td> Club of the player </td></tr>
<tr><td> age </td><td> Age of the player </td></tr>
<tr><td> position </td><td>  The usual position on the pitch </td><tr> 
<tr><td>position_cat</td><td> 1 for attackers, 2 for midfielders, 3 for defenders, 4 for goalkeepers</td></tr>
<tr><td>market_value</td><td> As on transfermrkt.com on July 20th, 2017</td></tr>
<tr><td>page_views</td><td> Average daily Wikipedia page views from September 1, 2016 to May 1, 2017</td></tr>
<tr><td>fpl_value</td><td> Value in Fantasy Premier League as on July 20th, 2017</td></tr>
<tr><td>fpl_sel</td><td> % of FPL players who have selected that player in their team</td></tr>
<tr><td>fpl_points</td><td> FPL points accumulated over the previous season</td></tr>
<tr><td>region</td><td> 1 for England, 2 for EU, 3 for Americas, 4 for Rest of World</td></tr>
<tr><td>nationality</td><td> Player's nationality</td></tr>
<tr><td>new_foreign</td><td> Whether a new signing from a different league, for 2017/18 (till 20th July)</td></tr>
<tr><td>age_cat</td><td> a categorical version of the Age feature</td></tr>
<tr><td>club_id</td><td> a numerical version of the Club feature</td></tr>
<tr><td>big_club</td><td> Whether one of the Top 6 clubs</td></tr>
<tr><td>new_signing</td><td> Whether a new signing for 2017/18 (till 20th July)</td></tr>
<table>

## Exercise 1: Exploring the data
The first step you need to do is to explore your data.

We will start wil the necessary imports. In this exercise, we will be working with the library `pandas`. If you are not familiar with it, it is recommended that you follow the introductory exercises that can be found in the course's github repository.

In [1]:
using DataFrames, CSV

We will now proceed to read the dataset:

In [2]:
league_df = CSV.read(joinpath("data", "football_data.csv"), DataFrame) #Reads a CSV file

461×17 DataFrame
 Row │ name                     club      age    position  position_cat  marke ⋯
     │ String31                 String31  Int64  String3   Int64         Float ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Alexis Sanchez           Arsenal      28  LW                   1        ⋯
   2 │ Mesut Ozil               Arsenal      28  AM                   1
   3 │ Petr Cech                Arsenal      35  GK                   4
   4 │ Theo Walcott             Arsenal      28  RW                   1
   5 │ Laurent Koscielny        Arsenal      31  CB                   3        ⋯
   6 │ Hector Bellerin          Arsenal      22  RB                   3
   7 │ Olivier Giroud           Arsenal      30  CF                   1
   8 │ Nacho Monreal            Arsenal      31  LB                   3
   9 │ Shkodran Mustafi         Arsenal      25  CB                   3        ⋯
  10 │ Alex Iwobi               Arsenal      21  LW                   1
  11 │ Granit Xhaka             Arsenal      24  DM                   2
  ⋮  │            ⋮                ⋮        ⋮       ⋮           ⋮              ⋱
 452 │ Aaron Cresswell          West+Ham     27  LB                   3
 453 │ Pedro Obiang             West+Ham     25  CM                   2        ⋯
 454 │ Sofiane Feghouli         West+Ham     27  RW                   1
 455 │ Angelo Ogbonna           West+Ham     29  CB                   3
 456 │ Pablo Zabaleta           West+Ham     32  RB                   3
 457 │ Edimilson Fernandes      West+Ham     21  CM                   2        ⋯
 458 │ Arthur Masuaku           West+Ham     23  LB                   3
 459 │ Sam Byram                West+Ham     23  RB                   3
 460 │ Ashley Fletcher          West+Ham     21  CF                   1
 461 │ Diafra Sakho             West+Ham     27  CF                   1        ⋯
                                                 12 columns and 440 rows omitted

### Task 1.1: Using DataFrames for data exploration
Use the method `first(name_dataframe, N)` (N is the number of entries) to look at the first instances of the dataframe. 

Then, use the method `describe(name_dataframe)` to generate descriptive statistics that summarize each field of the dataframe. 

Finally, print the result of `@view name_dataframe`, in this way you print out the data types associated to each of the fields in the table

In [3]:
#Your code for first
first(league_df,10)

10×17 DataFrame
 Row │ name               club      age    position  position_cat  market_valu ⋯
     │ String31           String31  Int64  String3   Int64         Float64     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Alexis Sanchez     Arsenal      28  LW                   1          65. ⋯
   2 │ Mesut Ozil         Arsenal      28  AM                   1          50.
   3 │ Petr Cech          Arsenal      35  GK                   4           7.
   4 │ Theo Walcott       Arsenal      28  RW                   1          20.
   5 │ Laurent Koscielny  Arsenal      31  CB                   3          22. ⋯
   6 │ Hector Bellerin    Arsenal      22  RB                   3          30.
   7 │ Olivier Giroud     Arsenal      30  CF                   1          22.
   8 │ Nacho Monreal      Arsenal      31  LB                   3          13.
   9 │ Shkodran Mustafi   Arsenal      25  CB                   3          30. ⋯
  10 │ Alex Iwobi         Arsenal      21  LW                   1          10.
                                                              12 columns omitted

In [4]:
#Your code for describe
describe(league_df)

17×7 DataFrame
 Row │ variable      mean       min              median  max                   ⋯
     │ Symbol        Union…     Any              Union…  Any                   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ name                     Aaron Cresswell          Å\u81ukasz FabiaÅ„ski ⋯
   2 │ club                     Arsenal                  West+Ham
   3 │ age           26.8048    17               27.0    38
   4 │ position                 AM                       SS
   5 │ position_cat  2.18004    1                2.0     4                     ⋯
   6 │ market_value  11.012     0.05             7.0     75.0
   7 │ page_views    763.777    3                460.0   7664
   8 │ fpl_value     5.44794    4.0              5.0     12.5
   9 │ fpl_sel                  0.00%                    9.70%                 ⋯
  10 │ fpl_points    57.3145    0                51.0    264
  11 │ region                   1                        NA
  12 │ nationality              Algeria                  Wales
  13 │ new_foreign   0.0347072  0                0.0     1                     ⋯
  14 │ age_cat       3.20607    1                3.0     6
  15 │ club_id       10.3341    1                10.0    20
  16 │ big_club      0.303688   0                0.0     1
  17 │ new_signing   0.145336   0                0.0     1                     ⋯
                                                               2 columns omitted

In [5]:
#Your code for d_type
@view league_df[end, :] # Issue: not displaying all the columns

DataFrameRow
 Row │ name          club      age    position  position_cat  market_value  pa ⋯
     │ String31      String31  Int64  String3   Int64         Float64       In ⋯
─────┼──────────────────────────────────────────────────────────────────────────
 461 │ Diafra Sakho  West+Ham     27  CF                   1          10.0     ⋯
                                                              11 columns omitted

### Question set 1.1: About the data
1. What is the name of the appearing in the 7th record of the dataset?
2. What is the mean age in the English Premier League (in 2017)? 
3. What fields store a continuous value?

Your answers here:

In [6]:
println("1. What is the name of the appearing in the 7th record of the dataset?")
league_df[7,:name]

1. What is the name of the appearing in the 7th record of the dataset?

"Olivier Giroud"

In [7]:
println("2. What is the mean age in the English Premier League (in 2017)?")

using DataFrameMacros, Chain, Statistics
@chain league_df begin
          @groupby :English_Premier_League = :nationality == "England"
          @combine "mean_{}" = mean(:age)
       end

2. What is the mean age in the English Premier League (in 2017)?

2×2 DataFrame
 Row │ English_Premier_League  mean_age
     │ Bool                    Float64
─────┼──────────────────────────────────
   1 │                  false   27.2098
   2 │                   true   26.0128

## Exercise 2: Data splits, data preparation and training
Before starting the training procedure, we need to split the data into the training, validation and test sets.

In this exercise, the data will be already given split for you.

In [8]:
#Loading the splits
df_train = CSV.read(joinpath("data", "league_val.csv"), DataFrame)
df_val = CSV.read(joinpath("data", "league_val.csv"), DataFrame)
df_test = CSV.read(joinpath("data", "league_test.csv"), DataFrame)

93×17 DataFrame
 Row │ name                      club               age    position  position_ ⋯
     │ String31                  String31           Int64  String3   Int64     ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ Chris Brunt               West+Brom             32  LM                  ⋯
   2 │ Joe Lolley                Huddersfield          24  RW
   3 │ Antonio Rudiger           Chelsea               24  CB
   4 │ Jordan Henderson          Liverpool             27  CM
   5 │ Charlie Austin            Southampton           28  CF                  ⋯
   6 │ Toby Alderweireld         Tottenham             28  CB
   7 │ Laurent Koscielny         Arsenal               31  CB
   8 │ James McCarthy            Everton               26  CM
   9 │ Hector Bellerin           Arsenal               22  RB                  ⋯
  10 │ Massadio Haidara          Newcastle+United      24  LB
  11 │ Jay Rodriguez             West+Brom             27  CF
  ⋮  │            ⋮                      ⋮            ⋮       ⋮           ⋮    ⋱
  84 │ Eric Dier                 Tottenham             23  DM
  85 │ Dan Gosling               Bournemouth           27  CM                  ⋯
  86 │ Jan Bednarek              Southampton           21  CB
  87 │ Manuel Lanzini            West+Ham              24  AM
  88 │ Dean Marney               Burnley               33  CM
  89 │ Jonathan Hogg             Huddersfield          28  CM                  ⋯
  90 │ Nacho Monreal             Arsenal               31  LB
  91 │ Kieran Trippier           Tottenham             26  RB
  92 │ Ander Herrera             Manchester+United     27  CM
  93 │ Roberto Firmino           Liverpool             25  SS                  ⋯
                                                  13 columns and 72 rows omitted

In [9]:
using LinearAlgebra

mutable struct MyLinearRegression
    X_train::Array{Float64}
    y_train::Array{Float64}
    weights::Array{Float64}
end

function MyLinearRegression()
    X_train = []
    y_train = []
    weights = []
    return MyLinearRegression(X_train, y_train, weights)
end

function fit!(model::MyLinearRegression, X, y)
    model.X_train = X
    model.y_train = y
    model.weights = X' * X \ (X' * y)
end

function predict(model::MyLinearRegression, x_test)
    y_hat = x_test * model.weights
    return y_hat
end

function MSE(model::MyLinearRegression, y_pred, y_test)
    return sum((y_pred .- y_test) .^ 2) / length(y_test)
end

MSE (generic function with 1 method)

# References
- [ ] [DataFrames.jl](https://dataframes.juliadata.org/)
- [ ] [Importing and Exporting Data (I/O)](https://dataframes.juliadata.org/stable/man/importing_and_exporting)
- [ ] [Summarizing Data](https://dataframes.juliadata.org/stable/man/working_with_dataframes/#Summarizing-Data)
- [ ] [Compares DataFrames.jl with other data manipulation frameworks in Python, R, and Stata.](https://dataframes.juliadata.org/stable/man/comparisons/)