# Part 2: Linear Regression


In this part, we will be working with a dataset scraped by [Shubham Maurya](https://www.kaggle.com/mauryashubham/linear-regression-to-predict-market-value/data), which collects facts about players in the English Premier League as of 2017. His original goal was to establish if there was a relationship between a player's popularity and his market value, as estimated by transfermrkt.com.

**Your goal is to fit a model able to predict a player's market value.**

## The dataset

The dataset contains the following information:

<table >
<tr>
<th><b>Field</b></th>
<th><b>Description</b></th>
</tr>
<tr><td> name </td><td> Name of the player </td></tr>
<tr><td> club </td><td> Club of the player </td></tr>
<tr><td> age </td><td> Age of the player </td></tr>
<tr><td> position </td><td>  The usual position on the pitch </td><tr> 
<tr><td>position_cat</td><td> 1 for attackers, 2 for midfielders, 3 for defenders, 4 for goalkeepers</td></tr>
<tr><td>market_value</td><td> As on transfermrkt.com on July 20th, 2017</td></tr>
<tr><td>page_views</td><td> Average daily Wikipedia page views from September 1, 2016 to May 1, 2017</td></tr>
<tr><td>fpl_value</td><td> Value in Fantasy Premier League as on July 20th, 2017</td></tr>
<tr><td>fpl_sel</td><td> % of FPL players who have selected that player in their team</td></tr>
<tr><td>fpl_points</td><td> FPL points accumulated over the previous season</td></tr>
<tr><td>region</td><td> 1 for England, 2 for EU, 3 for Americas, 4 for Rest of World</td></tr>
<tr><td>nationality</td><td> Player's nationality</td></tr>
<tr><td>new_foreign</td><td> Whether a new signing from a different league, for 2017/18 (till 20th July)</td></tr>
<tr><td>age_cat</td><td> a categorical version of the Age feature</td></tr>
<tr><td>club_id</td><td> a numerical version of the Club feature</td></tr>
<tr><td>big_club</td><td> Whether one of the Top 6 clubs</td></tr>
<tr><td>new_signing</td><td> Whether a new signing for 2017/18 (till 20th July)</td></tr>
<table>

## Exercise 1: Exploring the data
The first step you need to do is to explore your data.

We will start wil the necessary imports. In this exercise, we will be working with the library `pandas`. If you are not familiar with it, it is recommended that you follow the introductory exercises that can be found in the course's github repository.

In [11]:
using DataFrames, CSV

We will now proceed to read the dataset:

In [39]:
league_df = CSV.read(joinpath("data", "football_data.csv"), DataFrame) #Reads a CSV file

461Ã—17 DataFrame
 Row â”‚ name                     club      age    position  position_cat  marke â‹¯
     â”‚ String31                 String31  Int64  String3   Int64         Float â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Alexis Sanchez           Arsenal      28  LW                   1        â‹¯
   2 â”‚ Mesut Ozil               Arsenal      28  AM                   1
   3 â”‚ Petr Cech                Arsenal      35  GK                   4
   4 â”‚ Theo Walcott             Arsenal      28  RW                   1
   5 â”‚ Laurent Koscielny        Arsenal      31  CB                   3        â‹¯
   6 â”‚ Hector Bellerin          Arsenal      22  RB                   3
   7 â”‚ Olivier Giroud           Arsenal      30  CF                   1
   8 â”‚ Nacho Monreal            Arsenal      31  LB                   3
   9 â”‚ Shkodran Mustafi         Arsenal      25  CB                   3        â‹¯
  10 â”‚ Alex Iwobi               Arsenal      21  LW                   1
  11 â”‚ Granit Xhaka             Arsenal      24  DM                   2
  â‹®  â”‚            â‹®                â‹®        â‹®       â‹®           â‹®              â‹±
 452 â”‚ Aaron Cresswell          West+Ham     27  LB                   3
 453 â”‚ Pedro Obiang             West+Ham     25  CM                   2        â‹¯
 454 â”‚ Sofiane Feghouli         West+Ham     27  RW                   1
 455 â”‚ Angelo Ogbonna           West+Ham     29  CB                   3
 456 â”‚ Pablo Zabaleta           West+Ham     32  RB                   3
 457 â”‚ Edimilson Fernandes      West+Ham     21  CM                   2        â‹¯
 458 â”‚ Arthur Masuaku           West+Ham     23  LB                   3
 459 â”‚ Sam Byram                West+Ham     23  RB                   3
 460 â”‚ Ashley Fletcher          West+Ham     21  CF                   1
 461 â”‚ Diafra Sakho             West+Ham     27  CF                   1        â‹¯
                                                 12 columns and 440 rows omitted

### Task 1.1: Using DataFrames for data exploration
Use the method `first(name_dataframe, N)` (N is the number of entries) to look at the first instances of the dataframe. 

Then, use the method `describe(name_dataframe)` to generate descriptive statistics that summarize each field of the dataframe. 

Finally, print the result of `@view name_dataframe`, in this way you print out the data types associated to each of the fields in the table

In [41]:
#Your code for first
first(league_df,10)

10Ã—17 DataFrame
 Row â”‚ name               club      age    position  position_cat  market_valu â‹¯
     â”‚ String31           String31  Int64  String3   Int64         Float64     â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ Alexis Sanchez     Arsenal      28  LW                   1          65. â‹¯
   2 â”‚ Mesut Ozil         Arsenal      28  AM                   1          50.
   3 â”‚ Petr Cech          Arsenal      35  GK                   4           7.
   4 â”‚ Theo Walcott       Arsenal      28  RW                   1          20.
   5 â”‚ Laurent Koscielny  Arsenal      31  CB                   3          22. â‹¯
   6 â”‚ Hector Bellerin    Arsenal      22  RB                   3          30.
   7 â”‚ Olivier Giroud     Arsenal      30  CF                   1          22.
   8 â”‚ Nacho Monreal      Arsenal      31  LB                   3          13.
   9 â”‚ Shkodran Mustafi   Arsenal      25  CB                   3          30. â‹¯
  10 â”‚ Alex Iwobi         Arsenal      21  LW                   1          10.
                                                              12 columns omitted

In [19]:
#Your code for describe
describe(league_df)

17Ã—7 DataFrame
 Row â”‚ variable      mean       min              median  max                   â‹¯
     â”‚ Symbol        Unionâ€¦     Any              Unionâ€¦  Any                   â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚ name                     Aaron Cresswell          Ã…\u81ukasz FabiaÃ…â€žski â‹¯
   2 â”‚ club                     Arsenal                  West+Ham
   3 â”‚ age           26.8048    17               27.0    38
   4 â”‚ position                 AM                       SS
   5 â”‚ position_cat  2.18004    1                2.0     4                     â‹¯
   6 â”‚ market_value  11.012     0.05             7.0     75.0
   7 â”‚ page_views    763.777    3                460.0   7664
   8 â”‚ fpl_value     5.44794    4.0              5.0     12.5
   9 â”‚ fpl_sel                  0.00%                    9.70%                 â‹¯
  10 â”‚ fpl_points    57.3145    0                51.0    264
  11 â”‚ region                   1                        NA
  12 â”‚ nationality              Algeria                  Wales
  13 â”‚ new_foreign   0.0347072  0                0.0     1                     â‹¯
  14 â”‚ age_cat       3.20607    1                3.0     6
  15 â”‚ club_id       10.3341    1                10.0    20
  16 â”‚ big_club      0.303688   0                0.0     1
  17 â”‚ new_signing   0.145336   0                0.0     1                     â‹¯
                                                               2 columns omitted

In [59]:
#Your code for d_type
@view league_df[end, :] # Issue: not displaying all the columns

DataFrameRow
 Row â”‚ name          club      age    position  position_cat  market_value  pa â‹¯
     â”‚ String31      String31  Int64  String3   Int64         Float64       In â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
 461 â”‚ Diafra Sakho  West+Ham     27  CF                   1          10.0     â‹¯
                                                              11 columns omitted

### Question set 1.1: About the data
1. What is the name of the appearing in the 7th record of the dataset?
2. What is the mean age in the English Premier League (in 2017)? 
3. What fields store a continuous value?

In [82]:
using DataFrameMacros, Chain, Statistics
@chain league_df begin
          @groupby :English_Premier_League = :nationality == "England"
          @combine "mean_{}" = mean(:age)
       end

2Ã—2 DataFrame
 Row â”‚ English_Premier_League  mean_age
     â”‚ Bool                    Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚                  false   27.2098
   2 â”‚                   true   26.0128

# References
- [ ] [DataFrames.jl](https://dataframes.juliadata.org/)
- [ ] [Importing and Exporting Data (I/O)](https://dataframes.juliadata.org/stable/man/importing_and_exporting)
- [ ] [Summarizing Data](https://dataframes.juliadata.org/stable/man/working_with_dataframes/#Summarizing-Data)
- [ ] [Compares DataFrames.jl with other data manipulation frameworks in Python, R, and Stata.](https://dataframes.juliadata.org/stable/man/comparisons/)